.header{
    display: flex;
    height: 60px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #131921;
    z-index: 100;
}

.headerLogo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    
}
.headerSearch{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 20px;
}
.headerSearchInput
{ height: 12px;
    padding: 10px;
    border: none;
    height:15px;
    width: 100%;
}

.searchIcon{
    color: white;
    padding: 6px 10px;
    width: 50px;
    background-color:  #FEBD69;
}
.headerNav{
    display: flex;
    justify-content: space-evenly;
}
.headerOption{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}
.headerOneLine{
    font-size: 12px;
}
.headerBasketCart{
display: flex;
align-items: center;
color: white;
}
.headerBasketCount{
    margin-right: 10px;
    margin-left: 10px;
}