.login{
    display: flex;
    
    align-items: center;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
}


.loginLogo{
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}
.loginContainer{
    border: 1px solid lightgray;
    padding:10px;
    width: 300px;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    border-radius: 5px;

}
.loginContainer > h1{
    font-weight: 500;
    margin-bottom: 10px;

}
.loginContainer > form > h5{
    margin: 10px 0px 6px 0px;

}
.loginContainer > form > input{
    height: 30px;
    outline: none;
    margin-bottom: 10px;
    background-color: #fff;
    width: 98%;
}
.loginContainer > p{
    margin-top:15px;
    font-size: 15px;
}

.loginSigninButton{
    width: 100%;
    background-color: orange;
    margin-top: 10px;
    color: #111;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: 600;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
}
.loginRegisterButton{
    width:100%;
    background-color:gray;
    margin-top: 10px;
    color: #111;
    border: none;
    outline: none;
    font-size: 14px;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;

}